@import url('https://fonts.googleapis.com/css?family=Montserrat|Lato:400,300');

$site-font: 'Lato', 'Helvetica', sans-serif;
$font-family-sans-serif:  $site-font, "Helvetica Neue", Helvetica, Arial, sans-serif;
$menu-font: Montserrat, 'Lato', 'Helvetica', sans-serif;
