#site-logo{
  width: 20%;
  @include media-breakpoint-down(md) {
    & {
      width: 30%;
      margin-left: 10%;
    }
  }
  @include media-breakpoint-down(sm) {
    & {
      width: 80%;
      margin: 0 auto;
    }
  }
  @include media-breakpoint-down(xl) {
    & {
      margin-left: 10%;
    }
  }
}

.main-menu {
  margin-right: 10%;
  font-family: $menu-font;
  font-size: 0.8rem;
  text-transform: uppercase;
}
